*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 40px 10%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: hsla(0, 0%, 100%, 0);
    padding: 20px 10%;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header ul li a{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    margin: 0px 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.482); 
    transition: 0.5s;
    display: inline-block;
}

header ul li a:hover{
    transform: scale(1.05); 
    color: white;
}

/* Estilo botão CV */

.btn-cv  button{
    font-family: 'Poppins';
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 9px;
    border: none;
    box-shadow: 0px 0px 50px 0 rgba(162, 0, 255, 0.342);
    transition: 0.7s;
    cursor: pointer;
    color: black;
    font-weight: 700;
} 

.btn-cv  button:hover{
    transform: scale(1.05);
    color: white;
    background: linear-gradient(45deg, #870FAC 0%, #FF9900 52%, #B6AA08 100% );
}

/* Página 1 */

.page1 {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo da imagem circulo */

.circulo {
    display: flex;
    justify-content: end;
}

img {
    width: 80%;
    margin-top: 5%;
    margin-right: 5%;
}

.circulo img {
    position: relative;
    animation: circulo 2s ease-in-out infinite alternate ;
}

@keyframes circulo {
    0% {
        top: 0;
    }
    100%{
        top:40px
    }
}

/* Estilo dos textos */

.container-text {
    color: white;
}

.text-dev {
    font-family: "Poppins", sans-serif;
    margin: 30px 0px;
    font-size: 90PX;
    margin-left: 10px;
    padding: 0px 40px;
    text-transform: uppercase;
    background-size: 400% 100%;
    background: linear-gradient(45deg, #cc8d04, #b81186, #c32607, #cc8d04);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: degrade 10s linear infinite alternate;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.text-sobre {
    margin: 20px 0px;
    width: 85%;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    margin-left: 50px;
    text-align: justify;
}

/* Página 2 */

.page2 {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    
}

.box-sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 60%;
    height: 530px;
    margin-top: 10%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(112, 112, 112, 0.295);
    background-image: linear-gradient(45deg, #36022e 0%, #040d35 100%);
}

.apresentacao {
    font-size: 80px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: white;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.438);
}

.apresentacao span{
    color: #b608ad;
    
}

.apresentacao-eu{
    color: white;
    font-size: 20px;
    padding: 60px 20px;
    font-family: "Inter", sans-serif;
    text-align: justify;
}

a {
    text-decoration: none;
}

ul i {
    color: white;
    padding: 0px 40px;
    font-size: 50px;
    transition: .5s;
    display: inline-block;
}

ul i:hover {
    color: white;
    transform: scale(1.10);
}

.minha-foto{
    display: flex;
    align-items: center;
    height: 100vh; 
    margin-right: 10%;    
}

.minha-foto img {
    width: 300px;
    height: auto;
    margin-left: 0%;
    box-shadow: 0px 0px 70px rgb(0, 0, 0);
    border-radius: 50%; 
}

/* Página 3 */

.page3 {
    background-color: black;
    height: 100vh;
}

.text-skills {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10rem;
    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 58px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.521);
}

.text-skills span{
    color: #b608ad;
}

/* Estilo Icones */

.soft-skills  ul {
    margin-top: -4%;
    display: flex;
    justify-content: center;
    gap: 110px;
    list-style: none;
    font-family: "Poppins", sans-serif;
   
}

ul li i{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    
}

ul .text-icones{
    display: flex;
    text-align: center;
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 100%;
}

/* Estilo card */

.card {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5rem;
}

/* Estilo do fundo */

.img-box {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    position: relative;
    background-color: transparent; 
    border-radius: 20px;
    transition: 0.5s;
}

.img-box:hover {
    height: 300px;
    background-color: white;
}

/* Estilo Imagens */

.card .img-box img {
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: 0.5s;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    border-radius: 100%;
    top: 50%; 
    transform: translateY(-50%); 
}

.card .img-box:hover img {
    top: -10%; 
    transform: translateY(-40%);
    scale: 0.75;
}

/* Estilo do texto */

.card .box-text {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 13px;
    text-align: justify;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.img-box:hover .box-text {
    top: 130px;
    height: 150px;
}

/* Página 4 */

.page4{
    height: 100vh;
    background-color: black;
}

.nenhum {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20rem;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

/* Página 5 */

.page5{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-fale{
    color: white;
    margin-top: 30%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.521);
}

.text-fale span {
    color: #b608ad;
}

.container-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(112, 112, 112, 0.295);
    background-image: linear-gradient(45deg, #36022e 0%, #230435 100%);
    height: 68%;
    width: 30%;
}

.container-contato form {
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    gap: 5px;
    width: 80%;
}

.container-contato label{
    color: white;
}

.container-contato input, textarea {
    margin-bottom: 2%;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486) ;
    font-family: "Poppins", sans-serif;
}

.container-contato textarea{
    height: 100px;
}

.container-contato ::placeholder{
    font-size: 16px;
}

.container-contato .btn-enviar {
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486);
    cursor: pointer;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
}

.container-contato .btn-enviar:hover {
    background-color: rgb(121, 118, 119) ;
}

.text-ou {
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    text-align: center;
    margin: 2%;
    color: white;
}

.btn-whats{
    display: flex;
    justify-content: center;
    background-color: #25D366;
    border-radius: 10px;
    padding: 10px;
    font-size: 23px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486);
}

.btn-whats i, span{
    color: white;
}

footer{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    font-family: "Poppins",sans-serif;
    text-align: center;
}

/* Responsividade para telas de notebook */
@media screen and (max-width: 1383px) {

    /* Página 1 */

    header.rolagem{
        padding: 20px 0%;
    }

    .container{
        max-width: 1180px;
        margin: 0 auto;
    }
    
    header {
        padding: 30px 0%;
    }

    header ul li a{
        margin: 0px 40px;
        font-size: 16px;
    }

    .btn-cv  button{
        padding: 10px 40px;
        font-size: 14px;
        border-radius: 9px;
        font-weight: 700;
    } 

    .text-dev {
        font-size: 60PX;
    }

    
    .text-sobre {
        width: 90%;
        font-size: 18px;
    }   

    img {
        width: 70%;
        margin-top: 2%;
        margin-right: 10%;
    }

    /* Página 2 */

    .box-sobre {
        height: 430px;
    }
    
    .apresentacao {
        font-size: 60px;
    }
    
    .apresentacao-eu{
        font-size: 15px;
        padding: 60px 30px;
    }
    
    a {
        text-decoration: none;
    }
    
    ul i {
        font-size: 40px;
    }
    
    .minha-foto{
        margin-right: 8%;    
    }
    
    .minha-foto img {
        width: 290px;
    }

    /* Página 3 */

    /* text skills ok */
    .text-skills {
        gap: 15px;
        padding: 7rem;
        font-size: 48px;
    }

    /* Estilo Icones ok*/

    .soft-skills  ul {
        margin-top: -2%;
        gap: 110px;
    }


    /* Estilo card ok*/

    .card {
        margin-top: -2%;
    }

    /* Estilo do fundo ok */ 

    .img-box:hover {  
        height: 190px;
    }

    /* Estilo Imagens ok*/

    .card .img-box img {
        width: 110px;
        height: 110px;
    }

    
    /* Estilo do texto ok*/

    .img-box .box-text {
        font-size: 13px;
    }

    .img-box:hover .box-text {
        top: 60px;
        height: 115px;
    }

    /* Página 4 */

    .nenhum {
        font-size: 30px;
    }

    /* Página 5 */

    .text-fale{
        font-size: 48px;
    }

    .container-contato form {
        gap: 1px;
    }

    .container-contato input, textarea {
        padding: 5px 10px;
    }

    .container-contato textarea{
        height: 90px;
    }
    
    .container-contato ::placeholder{
        font-size: 14px;
    }

    .container-contato .btn-enviar {
        padding: 7px;
        font-size: 15px;
    }

    .text-ou {
        font-size: 16px;
    }

    .btn-whats{
        padding: 6px;
        font-size: 17px;
    }

    footer{
        background: linear-gradient(500deg, #000000 0%, #200223 60%, #000000 100% );
        font-size: 12px;
        padding: 5px;
    }

}

@media screen and (max-width: 1100px) {

/* Cabeçalho */
    .flex nav{
        display: none;
        margin: 0 auto;
    }

    .btn-cv button{
        margin-left: 6%;
        margin-top: -4%;
        width: 100%;
        font-size: 15px;
        padding: 10px 20px;
    }

    .page1, 
    .circulo img{
        flex-direction: column-reverse;
    }

    .circulo img{
        margin-right: 5%;
        width: 90%;
    }

    .container-text{
        margin-top: 10%;
        margin-left: -20%;
    }

    .page1,
    .text-dev{
        font-size: 38px;
        padding: 0px 40px;
    }

    .page1,
    .text-sobre{
        font-size: 18px;
    }

    /* Página 2 */
    .page2{
        flex-direction: column;
    }

    .minha-foto img{
        display: none;

    }

    .box-sobre{
        margin: 0 auto;
        width: 90%;
        height: 600%;
        margin-bottom: 30%;
    }

    .apresentacao{
        font-size: 38px;
        margin-bottom: -10%;
    }

    .apresentacao-eu{
        margin: -4% 0;
        font-size: 18px;
    }

    /* Página 3 */
    .page3{
        height: 250vh;
    }

    .text-skills{
        font-size: 35px;
    }

    .soft-skills ul{
        display: flex;
        gap: 40px;
        flex-direction: column;
        text-align: center;
    }

    .text-icones{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .card{
        display: flex;
        flex-direction: column;
    }

    /* Página 4 */

    .nenhum{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 350px 0px;
        font-size: 28px;
    }

    /* Página 5 */

    .text-fale{
        font-size: 38px;
    }

    .container-contato{
        width: 95%;
        height: 55%;
    }

    .container-contato input, textarea{
        width: 110%;
        margin-left: -5%;
        padding: 10px 10px;
    }

    .btn-enviar, .btn-whats{
        width: 110%;
        margin-left: -5%;
    }

}
